@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*////////////////////////Table of Contents///////////////////////////
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
    4. Areas
        4.1 Navigation
        4.2 Header
        4.3 Main
            4.3.1 Main - Home Page
            4.3.2 Main - Recipe Page
            4.3.3 Main - Calculator Page
        4.4 Footer
///////////////////////////////////////////////////////////////////*/


/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #EEEEEE;
    color: var(--main-font-color);
}

:root {
    --cc-main-bg-color-dark: #EEEEEE;
    --cc-main-color-dark: #283E53;
    --cc-contrast: #70B6BE;
    --cc-font-color: #3E3E3E;
    --main-margin-left-right: 0px;
    --inner-container-width: 1000px;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1,
.hero__subtitle {
    font-size: 50px;
    color: var(--cc-main-bg-color-dark);
}

h2 a {
    font-family: "Austein", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: var(--cc-main-color-dark);
    text-decoration: none;
}

h5 {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 8px;
    text-transform: capitalize;
}

.random-recipe-result-card p {
    font-size: 14px;
    font-weight: 600;
}

.random-recipe-info-text p {
    font-size: 12px;
    font-weight: 400;
}

li > p {
    font-size: 10px;
    font-weight: 300;
    color: var(--cc-main-bg-color-dark);
}



li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.navigation__list li a {
    color: var(--main-font-color);
    font-size: 12px;
    font-weight: 600;
}

/* ------------------------------- 3. Layout --------------------------------------- */

.outer-container__body {
    background-color: white;
}

.outer-container,
.outer-container__header,
.outer-container__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 1;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--inner-container-width);
    flex-shrink: 1;
}


/* ------------------------------- 3.1 Reusables ------------------------------------- */

button {
    text-transform: capitalize;
    text-decoration: none;
    width: 120px;
    height: 32px;
    text-align: start;
    padding-left: 20px;
    font-family: poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--cc-main-color-dark);
    background-color: var(--cc-contrast);
    border-style: none;
    border-radius: 4px;
    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.09), inset 0 0 8px 0 rgba(0, 0, 0, 0.11);
    cursor: pointer;
}

button::after {
    content: "➔";
    display: inline-block;
    padding-left: 20px;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/*---------------- 4.1 Navigation --------------------- */
.outer-container__navigation {
    background-color: var(--cc-main-bg-color-dark);
}

.navigation__wrapper {
    height: 60px;
}

.navigation__wrapper h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-left: var(--main-margin-left-right);
    flex-basis: 50%;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;
    gap: 35px;
    height: 50px;
    margin-right: var(--main-margin-left-right);
}

.navigation__list a {
    text-transform: capitalize;
}

.time-icon {
    padding-right: 10px;
}


/* --------------- 4.2 Header ------------------------- */

.outer-container__header {
    background-image: url("./assets/images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 450px;
}

.header__hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.header__button {
    width: 140px;
    padding-left: 15px;
}

.header__text {
    margin-left: var(--main-margin-left-right);
}

.header__featured-recipes-wrapper {
    width: var(--inner-container-width);
    height: 300px;
    margin-top: -60px;
}

.header__featured-recipe-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.featured-recipe-cards__result-item {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-radius: 4px;
    min-width: 312px;
    min-height: 220px;
    margin-bottom: 30px;
    break-inside: avoid-column;
    background-color: var(--cc-main-bg-color-dark);
    box-shadow: 0 2px 12px 4px rgba(0,0,0,0.28);
    font-size: 12px;
}

.featured-recipe-cards__result-item:nth-of-type(2) {
    z-index: 10;
    width: 340px;
}

.featured-recipe-cards__result-item:nth-of-type(1),
.featured-recipe-cards__result-item:nth-of-type(3) {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 15px;

}

.featured-recipe-cards__result-image {
    box-shadow: inset 0 -6px 14px -6px rgba(0, 0, 0, 0.76);
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.featured-recipe-card__result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    padding: 10px;
    height: 70px;
    box-shadow: 0 -3px 5px -1px rgba(0, 0, 0, 0.3);
    z-index: 2;
    color: var(--cc-font-color);
}




/* --------------- 4.3 Main --------------------------- */


/* --------------- 4.3.1 Main - Home Page -------------- */
.main__search {
    width: 100%;
    height: 90px;
    background-color: var(--cc-main-color-dark);
}

.search__request {
    display: flex;
    justify-content: space-between;
    flex-basis: var(--inner-container-width);
}

#mealType,
#cuisine,
#diet,
#time,
#ingredients {
    width: 120px;
    height: 32px;
    text-align: start;
    padding-left: 15px;
    border-radius: 4px;
    border-style: none;
    color: var(--main-font-color);
}

#ingredients {
    width: 150px;
}

#searchField {
    width: 200px;
}

#recipeCardsList {
    width: 100%;
    column-count: 3;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}



/* --------------- 4.3.2 Main - Recipe Page ---------------------- */

.recipe-cards__result-item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-radius: 4px;
    min-width: calc(100% * (1 / 3));
    min-height: 220px;
    margin-bottom: 30px;
    break-inside: avoid-column;
    background-color: var(--cc-main-bg-color-dark);
    box-shadow: 0 2px 12px 4px rgba(0,0,0,0.28);
    font-size: 12px;
}

.recipe-cards__result-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
    z-index: 1;
}

.recipe-card__result {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    padding: 10px;
    height: 70px;
    box-shadow: 0 -3px 5px -1px rgba(0, 0, 0, 0.3);
    z-index: 10;
    color: var(--cc-font-color);
}

.recipe-label {
    font-size: 13px;
    font-weight: 600;
}

.recipe-cards__text {
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
    display: flex;
}

/*---------------- 4.2.3 Main - Calculator Page ------- */



/* --------------- 4.4 Footer ------------------------- */
.footer__container {
    background-color: var(--cc-main-color-dark);
    width: 100%;
    height: 200px;
}

.footer__list {
    color: var(--cc-contrast);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: var(--inner-container-width);
}

.footer__list li p {
    color: var(--cc-main-bg-color-dark);
    padding-top: 7px;
}

.footer__social-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social__icons {
    border: 6px solid var(--cc-contrast);
    background-color: var(--cc-contrast);
    border-radius: 50%;
    margin: 5px;
}


.footer__social-card {
    padding-top: 5px;
}